.mainMenuContainer {
    padding: 1rem;
}

.bannerImg {
    width: 4rem;
    height: 4rem;
}

.bannerTitle {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.bannerDescription {
    font-weight: bold;
    text-align: center;
}